<form action="{{ path('subscribers_register') }}" id="cse-newsletter-box" method="post" {{ form_enctype(form) }} >
	  {{ form_errors(form) }}
		{{ form_widget(form._token) }}
		<div class="text-box" >
		{{ form_widget(form.email) }}
		</div>
		<input type="hidden" name="act" value="1" />
		
		<a href="javascript:;" id="lnk_dezabonare" class="lnk" >Dezabonare</a>
		<input type="submit" name="submit" value="submit" />
</form>