{% set curr_menu = 'contents' %}
{% extends "COEShopBundle::admin_layout.html.twig" %}

{% block left_side %}
{% endblock %}

{% block content %}

<div class="top-bar">
	<h1>Mail Template edit</h1>
	<div class="breadcrumbs"><a href="{{ path('admin_mailtemplates') }}">&laquo; List</a></div>
</div>

<br style="clear:left" />

<h2>Filename: {{ fname }}</h2>

<form class="frm_edit" action="{{ path('admin_mailtemplates_edit', { 'fname': fname }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Save</button>
		<a href="{{ path('admin_mailtemplates') }}" >Cancel</a>
    </p>
</form>


{% endblock %}
