<div class="prod_thumb" >
	<div class="head" >{{ product.name }}</div>
	<div class="description" >
		<div class="pic" >
		{% if ( product.picsrc=='') %}
			<img src="{{ asset('bundles/coeshop/imgs/no_image.jpg') }}" />
		{% else %}
			<img src="{{ ('uploads/prodpics/'~product.picsrc) | apply_filter('prod_thumb') }}" alt="{{ product.shortdesc }}" />
		{% endif %}
		</div>
		<span>{{ product.shortdesc }}</span>
		<a href="{{ path('_view_product', {'prod_slug': product.slug, 'prod_id': product.id }) }}" class="goto_details" >detalii &raquo;</a>
	</div>
	<div class="price_section" >
		<div class="price" >
			{% if product.finalprice!=product.price %}
				<span style="text-decoration:line-through" >{{ product.price }}</span>
			{% endif %} 
			<span>{{ product.finalprice }}</span>
			<span>RON</span>
		</div>
		<form action="{{ path('_cart_add') }}" class="form_add_prod" method="post" >
			<input type="hidden" name="prod_id" value="{{ product.id }}" />
			<input type="text" name="qty" value="1" />
			<input type="submit" name="submit" value="submit" />
		</form>
	</div>
	<div class="bottom" ></div>
</div>

