{% set curr_menu = 'contents' %}
{% extends "COEShopBundle::admin_layout.html.twig" %}

{% block left_side %}
{% include "COEShopBundle:Admin:content_submenu.html.twig" with { cat: 5 } %}
{% endblock %}

{% block content %}
<!-- TinyMCE -->
<script type="text/javascript" src="{{ asset('bundles/coeshop/js/tiny_mce/tiny_mce.js') }}"></script>
<script type="text/javascript">
	tinyMCE.init({
		mode : "exact",
		elements : "co_eshopbundle_pagetype_content,elm2",
		theme : "simple",
		width: "600",
		height: "400"
	});
</script>
<!-- /TinyMCE -->

<div class="top-bar">
	<h1>Page edit</h1>
	<div class="breadcrumbs"><a href="{{ path('admin_pages') }}">&laquo; List</a></div>
</div>

<br style="clear:left" />

<form class="frm_edit" action="{{ path('admin_pages_edit', { 'id': id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Save</button>
    </p>
</form>


{% endblock %}
