<h3>Filtru</h3>
<ul class="nav">
	<li><a href="{{ path('admin_orders') }}">TOATE</a></li>
	<li><a href="{{ path('admin_orders', { 'status': constant('CO\\EShopBundle\\Entity\\Flags\\OrderStatus::STATUS_NEW') }) }}">Noi</a></li>
	<li><a href="{{ path('admin_orders', { 'status': constant('CO\\EShopBundle\\Entity\\Flags\\OrderStatus::STATUS_CONFIRMED') }) }}">Confirmate</a></li>
	<li><a href="{{ path('admin_orders', { 'status': constant('CO\\EShopBundle\\Entity\\Flags\\OrderStatus::STATUS_SHIPED') }) }}">Trimise</a></li>
	<li><a href="{{ path('admin_orders', { 'status': constant('CO\\EShopBundle\\Entity\\Flags\\OrderStatus::STATUS_ARRIVED') }) }}">Finalizate</a></li>
</ul>

<h3>Transport</h3>
<ul class="nav">
	<li class="last"><a href="{{ path('admin_shipping') }}">Metode</a></li>
</ul>