<h3>Promo</h3>
<ul class="nav">
	<li><a href="{{ path('admin_promo') }}">Promo</a></li>
	<li><a href="{{ path('admin_discount') }}">Discount</a></li>
	<li><a href="{{ path('admin_subscribers') }}">Newsletter</a></li>
	<li><a href="{{ path('admin_newsletters') }}">Newsletter Pages</a></li>
	<li class="last"><a href="{{ path('admin_banner') }}">Banners</a></li>
</ul>
