{% extends 'COEShopBundle::layout.html.twig' %}

{% block content %}

<h3>Contact</h3>

<p>
{% render 'COEShopBundle:Page:show' with {'name': '_contact'} %}
</p>
	
<form action="{{ path('_contact') }}" method="POST" id="contact_form">
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.body) }}

    {{ form_rest(form) }}
    <input type="submit" value="Send" class="symfony-button-grey" />
</form>

<br />

{% endblock %}
