{% extends "COEShopBundle::layout.html.twig" %}

{% block title %}E-Shop produsct list{% endblock %}

{% block left_side_categories %}
{% render "COEShopBundle:Catalog:tree" with {'type': 0, 'cat_id': cat_id} %}
{% endblock %}

{% block left_side_accesories %}
{% render "COEShopBundle:Catalog:tree" with {'type': 1, 'cat_id': cat_id} %}
{% endblock %}


{% block content %}

{% if items|length>0 %}

<h3>Continutul cosului de cumparaturi</h3>

<table id="cart_list" class="list">
	<tr>
		<th>Produs</th>
		<th>Pret</th>
		<th>Cantitate</th>
		<th>Total</th>
		<th>&nbsp;</th>
	</tr>
{% set total = 0 %}
{% for item in items %}
	<tr>
		<td class="prod_name" >{{ item.prod.name }}</td>
		<td class="price" >{{ item.prod.finalprice }} RON</td>
		<td class="qty" >{{ item.qty }}</td>
		<td class="total" >{{ item.prod.finalprice*item.qty }} RON</td>
		<td class="act" ><a href="{{ path('_cart_remove', { 'id': item.id}) }}" >&raquo; scoate</a></td>
	</tr>
	{% set total = total + item.prod.finalprice*item.qty %}
{% endfor %}
	<tr>
		<td colspan="3" >&nbsp;</td>
		<td>{{ total }} RON</td>
		<td>&nbsp;</td>
	</tr>
</table>
<br />

<form class="frm_edit" action="{{ path('_cart_checkout') }}" method="post" >

<table>
    <tr>
	<th>Metoda de transport</th>
	<th>Cost</th>
    </tr>
{% for shipping_method in shipping_methods %}
	<tr>
	    <td>
		<input type="radio" name="shipping_method" value="{{ shipping_method.id }}" id="shipping_method_{{ shipping_method.id }}" {% if shipping_method.id==1 %}checked{% endif %} />
		<label for="shipping_method_{{ shipping_method.id }}" >{{ shipping_method.name }}</label>
	    </td>
	    <td>{{ shipping_method.price }} RON</td>
	</tr>
{% endfor %}
</table>

{% if form_register!=null %}
	{% form_theme form_register 'COEShopBundle:Form:fields.html.twig' %}
    <hr />
	<h2>Date Client</h2>
    {{ form_widget(form_register) }}
{% endif %}

<button class="btn" type="submit">confirma</button>
</form>

{% else %}
<div>nu sunt produse in cos.</div>
{% endif %}
<a href="{{ back_url }}" >continua cumparaturile</a>
<br />    
{% endblock %}
