{% set curr_menu = 'orders' %}
{% extends "COEShopBundle::admin_layout.html.twig" %}


{% block left_side %}
{% include "COEShopBundle:Admin:orders_submenu.html.twig" with { cat: 5 } %}
{% endblock %}

{% block content %}
<div class="top-bar">
	<a href="{{ path('admin_product_edit', { 'id': '0' }) }}" class="button">ADD NEW </a>
	<h1>Orders list</h1>
	<div class="breadcrumbs"><a href="#">Homepage</a> / <a href="#">Contents</a></div>
</div><br />

{% if app.session.flash('notice') %}
		<div class="flash-message">
				<em>Notice</em>: {{ app.session.flash('notice') }}
		</div>
{% endif %}


<div class="table">

<table class="listing" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>ID / Nr</th>
            <th>User</th>
            <th>Total</th>
            <th>Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
					<td>{{ entity.id }}</td>
					<td>{{ entity.user.username }}</td>
					<td>{{ entity.total }} RON</td>
					<td>{{ entity.createTimestamp|date('Y-m-d') }}</td>
					<td>{{ entity.status|status }}</td>
					<td>
						<a href="{{ path('admin_order_show', { 'id': entity.id }) }}">open</a>
					</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>

{% endblock %}

