{% set curr_menu = 'orders' %}
{% extends "COEShopBundle::admin_layout.html.twig" %}

{% block left_side %}
<a href="{{ path('admin_orders') }}">Back to the list</a>
{% endblock %}

{% block content %}
<div class="top-bar">
	<h1>Order</h1>
	<div class="breadcrumbs"><a href="#">Orders</a> / <a href="#">Details</a></div>
</div>

<br style="clear:left" />

<div class="infobox" style="width:200px;" >
	<div class="h">Comanda #{{ order.id }}</div>
	<div class="box order_det">
		<div class="label" >User:</div>
		<div class="value" >{{ order.user.username }}</div>		
		<br class="cl" />
		<div class="label" >Data:</div>
		<div class="value" >{{ order.createTimestamp|date('Y-m-d') }}</div>		
		<br class="cl" />
		<div class="label" >Total:</div>
		<div class="value" >{{ order.total }} RON</div>		
		<br class="cl" />
	</div>
</div>

<div class="infobox" style="width:300px;" >
	<div class="h">Date Client</div>
	<div class="box order_det">
		<div class="label" >Tip Persoana:</div>
		<div class="value" >{% if order.user.perstype==1 %}Fizica{% else %}{% if order.user.perstype==2 %}Juridica{% endif %}{% endif %}</div>
		<br class="cl" />
		<div class="label" >Email:</div>
		<div class="value" >{{ order.user.email }}</div>		
		<br class="cl" />
		{% if order.user.perstype==1 %}
		<div class="label" >Nume:</div>
		<div class="value" >{{ order.user.fullname }}</div>		
		<br class="cl" />
		<div class="label" >Telefon:</div>
		<div class="value" >{{ order.user.phone }}</div>		
		<br class="cl" />
		{% endif %}
		{% if order.user.perstype==2 %}
		<div class="label" >Company Nume:</div>
		<div class="value" >{{ order.user.compName }}</div>		
		<br class="cl" />
		<div class="label" >Telefon:</div>
		<div class="value" >{{ order.user.phone }}</div>		
		<br class="cl" />
		{% endif %}
		<div class="label" >Cod Postal:</div>
		<div class="value" >{{ order.user.postalCode }}</div>		
		<br class="cl" />
		<div class="label" >Adresa Facturare:</div>
		<div class="value" >{{ order.user.address }}</div>		
		<br class="cl" />
		<div class="label" >Adresa livrare:</div>
		<div class="value" >{{ order.user.addrsship }}</div>		
		<br class="cl" />
		<div class="label" >Observatii:</div>
		<div class="value" >{{ order.obs }}</div>		
		<br class="cl" />
		<div class="label" >Shipping:</div>
		<div class="value" >{{ shippingcomp_name }}</div>		
		<br class="cl" />
		<div class="label" >AWB:</div>
		<div class="value" >{{ order.awb }}</div>		
		<br class="cl" />
	</div>
</div>

<div class="infobox" style="width:300px;" >
	<div class="h">Items</div>
	<div class="box">
		<table>
			<tr>
				<th>Produs</th>
				<th>Pret</th>
				<th>Cantitate</th>
				<th>Subtotal</th>
			</tr>
		{% for item in order.items %}
			<tr>
				<td>{{ item.product.name }}</td>
				<td>{{ item.price }} RON</td>
				<td>{{ item.qty }}</td>
				<td>{{ item.total }} RON</td>
			</tr>
		{% endfor %}
		</table>			
	</div>
</div>

{% if show_awb %}
<div class="infobox" style="width:300px;" >
	<div class="h">AWB</div>
	<div class="box order_det">
		{{ order.awb }}
	</div>
</div>
{% endif %}

<div class="infobox" style="width:300px;" >
	<div class="h">status</div>
	<div class="box">
		{% if order.status!=status_canceled %}
		<span>{{ order.status|status }}</span>
		{% if new_status>0 %}
		<form action="{{ path('admin_order_status', { 'id': id }) }}" method="post" >			
			<input type="hidden" name="new_status" value="{{ new_status }}" />
			{% if input_awb %}
			<label>AWB:</label> 
			<input type="text" name="awb" value="" />
			{% endif %}
			<button type="submit">schimba in -></button>
			<label>{{ new_status|status }}</label>
		</form>
		{% endif %}
		
		<hr />
		
		Anulare
		<form action="{{ path('admin_order_status', { 'id': id }) }}" method="post" >			
			<input type="hidden" name="new_status" value="{{ status_canceled }}" />
			<label>OBS:</label> 
			<textarea name="cancel_obs" ></textarea>
			<button type="submit">Anuleaza</button>
		</form>
		{% else %}
		CANCELED 
		<br />
		{{ order.cancelObs }}
		{% endif %}
	</div>
</div>


{% endblock %}

