<!DOCTYPE html> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <meta name="description" content="{{ meta_description|default('') }}">
    <meta name="keywords" content="{{ meta_keywords|default('DEFAULT KEYWORDS') }}">
	
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/coeshop/css/style.css') }}" />
    <link rel="Stylesheet" type="text/css" href="{{ asset('bundles/coeshop/css/evoslider.css') }}" />
    <link rel="Stylesheet" type="text/css" href="{{ asset('bundles/coeshop/css/evoslider_custom.css') }}" />   
    <link rel="Stylesheet" type="text/css" href="{{ asset('bundles/coarticles/css/articles.css') }}" />   
    
    <script type="text/javascript" src="{{ asset('bundles/coeshop/js/jquery-1.7.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/coeshop/js/jquery.easing.1.3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/coeshop/js/jquery.evoslider.lite-1.1.0.js') }}"></script>	
	<script type="text/javascript">
	<!--//--><![CDATA[//><!--
		$(document).ready(function() {
			//$("#root ul").each(function() {$(this).css("display", "none");});
			$("#root .category").click(function() {
				var childid = "#" + $(this).attr("childid");
				if ($(childid).css("display") == "none") {$(childid).css("display", "block");}
				else {$(childid).css("display", "none");}
				if ($(this).hasClass("cat_close")) {$(this).removeClass("cat_close").addClass("cat_open");}
				else{$(this).removeClass("cat_open").addClass("cat_close");}
			});
			$('#co_eshopbundle_usertype_perstype_0, #co_eshopbundle_usertype_perstype_1').change(function() {
			  choosePersType( $(this) );
			});
			
			choosePersType($('#co_eshopbundle_usertype_perstype_0'));
		});
		
		function choosePersType(elem) {
			var pers_type = elem.val();
			
			if (pers_type==1) {
				$('.pf').show();
				$('.pc').hide();
			} else 
			if (pers_type==2) {
				$('.pf').hide();
				$('.pc').show();
			}
		}
	//--><!]]>
	</script>
	
	<title>{% block title %}SEA SHOP{% endblock title %}</title>		
	
</head>
<body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41465812-1', 'pretioasa.ro');
  ga('send', 'pageview');
</script>

<header>
	<div id="top_menu">
		<div id="menu" >
			<a href="{{ path('_home') }}" id="lnk_home" ></a>

			{{ render(controller('COEShopBundle:Members:loginLink')) }}

			<a href="{{ path('_members_home') }}" >My Account</a>

			<a href="{{ path('_cart') }}">Cos Cumparaturi</a>
			{{ render(controller('COEShopBundle:Cart:amount')) }}
			
			<a href="{{ path('articles_list') }}" >Blog</a>

			<a href="{{ path('_contact') }}">Contact</a>
		</div>
		<div id="search_container" >
			<form action="{{ path('_product_search') }}" id="cse-search-box" method="post" >
				<input type="text" name="src" size="31" placeholder="cauta"/>
				<input type="submit" name="submit" value="submit" />
			</form>		
		</div>
	</div>
</header>

{{ render(controller('COEShopBundle:Page:banners')) }}

<div id="top_content" >
	<div id="left_content" >
		<div id="categories_head" ><span>Categories</span></div>
		{% block left_side_categories %}
		{{ render(controller('COEShopBundle:Catalog:tree', {'type': 0} )) }}
		{% endblock %}
		<div class="left_menu_head" ><span>Newsletter</span></div>
		<div id="newsletter_container" >
			{{ render(controller('COEShopBundle:Subscriber:register')) }}
		</div>
	</div>
	<div id="content" >
		<div id="body_wrapper" >
			{% for flashMessage in app.session.flashbag.get('notice') %}
			<div class="flash-notice">
				<span>{{ flashMessage  }}</span>
			</div>
			{% endfor %}
				
			{% block content %}{% endblock %}
		</div>
	</div>
</div>

<div id="footer" >
    <div>
        <a href="{{ path('_protect') }}" >Customer Protection</a>
        <a href="{{ path('_terms') }}" >Terms and conditions</a>
        <a href="{{ path('_links') }}" >Links</a>
    </div>
    <div id="copy" >footer info</div>
</div>

</body>

</html>
